<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>songName</key>
		<string>ChakraBalance</string>
		<key>artistName</key>
		<string>Ben Todd</string>
		<key>albumName</key>
		<string>Magic</string>
		<key>albumArtwork</key>
		<string></string>
	</dict>
	<dict>
		<key>albumName</key>
		<string>Magic</string>
		<key>songName</key>
		<string>AlienAbduction</string>
		<key>artistName</key>
		<string>Ben Todd</string>
		<key>albumArtwork</key>
		<string></string>
	</dict>
	<dict>
		<key>albumName</key>
		<string>Magic</string>
		<key>albumArtwork</key>
		<string></string>
		<key>songName</key>
		<string>AstralTravel</string>
		<key>artistName</key>
		<string>Ben Todd</string>
	</dict>
	<dict>
		<key>artistName</key>
		<string>Ben Todd</string>
		<key>albumName</key>
		<string>Magic</string>
		<key>songName</key>
		<string>TotemAnimal</string>
		<key>albumArtwork</key>
		<string>demo1.png</string>
	</dict>
</array>
</plist>
